@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
/*Variables*/
/*General*/
body, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}

h1, h2, h3 {
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 36px;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

hr {
  width: 28px;
  height: 4px;
  margin: 0 auto 20px;
  background-color: white;
  border: none;
}

p {
  font-size: 14px;
}

body {
  background-color: #111111;
  padding: 0;
  margin: 0;
}

.container {
  width: 950px;
  margin: 0 auto 0 0;
}

aside {
  width: 25%;
  float: left;
}
aside .box {
  padding-left: 20px;
  padding-bottom: 15px;
}
aside .year {
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  margin: 15px 0px;
}
aside .prefix {
  font-size: 16px;
  color: #666666;
  margin: 0px;
}
aside .title {
  font-size: 21px;
  color: white;
  margin: 2px 0px 15px 0px;
}
aside .logo {
  height: 200px;
  background: url(../images/a2f_logo.png) center center no-repeat;
}

section {
  width: 75%;
  margin-left: 25%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
section .box {
  border: none;
  background-color: #471437;
}

.box {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #222222;
}
.box img {
  opacity: 0.9;
  transition: all 0.5s ease;
}
.box hr, .box .button {
  opacity: 0;
  transition: all 0.5s ease;
}
.box:hover .slide {
  bottom: -180px;
}
.box:hover img {
  /* @todo on-hover, image needs to zoom in a bit */
  width: 104%;
  left: -2%;
  opacity: 0.25;
}
.box:hover hr, .box:hover .button {
  opacity: 1;
}
.box:hover .coming-soon {
  background: #ff5449;
}

.banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.banner img {
  top: -100%;
  z-index: -10;
}
.banner .description {
  width: 50%;
  margin: 0 auto;
  text-transform: none;
}

.slide {
  height: 400px;
  position: relative;
  bottom: -280px;
  transition: all 0.5s ease;
}
.slide .cover {
  padding-top: 10px;
}

.button {
  width: 130px;
  border-radius: 20px;
  border: 1px solid #ff9249;
  text-transform: none;
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /* @todo technically not correct -- only when there are 2 buttons will we have margin-right */
  /* maybe use nth-child(2) - margin-left? */
}
.button.website {
  margin-right: 20px;
}

img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -30%;
  left: 0%;
}
img.top1 {
  top: -50%;
}
img.top2 {
  top: -75%;
}

a {
  text-decoration: none;
  color: #ff9249;
}

.coming-soon {
  width: 100%;
  height: 100%;
}

.coming-soon p {
  display: inline-block;
  margin-top: 25%;
  font-size: 30px;
  padding: 5px;
  border: 3px solid white;
}
